<form>
    <label for="employee_name">Name</label>
    <input type="text" class="typeahead" id="#my-input" /><br/>
</form>

<script>
  
// instantiate the bloodhound suggestion engine
var items = new Bloodhound({  
  datumTokenizer: function(items) {
      return Bloodhound.tokenizers.whitespace(items.value);
  },
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  remote: {
    url: "http://localhost:5000/items",
    filter: function(response) {      
      console.log(response);
      return response;
    }
  }
});

// initialize the bloodhound suggestion engine
items.initialize();

// instantiate the typeahead UI
$('.typeahead').typeahead(
  { hint: true,
    highlight: true,
    minLength: 1
  }, 
  {
  name: 'countries',
  displayKey: function(countries) {
    return items.item_name;        
  },
  source: items.ttAdapter()
});
  
</script>
